:root {
  --accent: #ff8c00;
  --font-base: "Roboto", sans-serif;
  --font-accent: "Bebas Neue", sans-serif;
}

body {
  background-color: #1f2a32;
  color: #fafaf5;

  font-family: var(--font-base);
  font-weight: 300;
}

a {
  color: #fafaf5;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
