.header {
  width: 100%;
  padding-top: 20px;
  height: 500px;
  background-image: url("../../img/luxurious_outdoor_hot_tub.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container.header-wrapper {
  position: relative;
}

.header-wrapper-row {
  position: fixed;
  top: 5%;
  left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 10;
}

.logo-img {
  width: 100px;
  height: 60px;
  fill: var(--accent);
}

.navigation {
  position: fixed;
  top: 0;
  right: -80%;
  height: 100vh;
  width: 80%;
  padding: 50px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 100;
}

.navigation.active {
  transform: translateX(-100%); /* Показываем меню, выдвигая его */
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.nav-item {
}

.nav-link {
  padding: 10px;

  font-family: var(--font-accent);
  font-weight: 700;
  letter-spacing: 0.19em;
  color: var(--accent);
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #e74545;
}

.svg-close {
  width: 32px;
  height: 32px;
}

.btn-burger {
}

.svg-burger {
  width: 32px;
  height: 32px;
  fill: var(--accent);
}
